// @font-face {
//     font-family: "gpkn";
//     src: url("//db.onlinewebfonts.com/t/21c1dea08d980bc822282dcfebae9287.eot");
//     src: url("//db.onlinewebfonts.com/t/21c1dea08d980bc822282dcfebae9287.eot?#iefix") format("embedded-opentype"),
//     url("//db.onlinewebfonts.com/t/21c1dea08d980bc822282dcfebae9287.woff2") format("woff2"),
//     url("//db.onlinewebfonts.com/t/21c1dea08d980bc822282dcfebae9287.woff") format("woff"),
//     url("//db.onlinewebfonts.com/t/21c1dea08d980bc822282dcfebae9287.ttf") format("truetype"),
//     url("//db.onlinewebfonts.com/t/21c1dea08d980bc822282dcfebae9287.svg#gpkn") format("svg");
// }

$dropShadow: 1px 1px black;
$dropShadow: 2px 0px black;

html:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1;
    /* needed to keep in the background */
    background: url(../images/barclays.jpg); // background-attachment: fixed;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
}

#neoHome {
    margin: 20px; // font-family: prometo, sans-serif;
    // font-family: mr-eaves-xl-modern, sans-serif;
    // font-family: mr-eaves-xl-sans, sans-serif;
    // font-family: "Helvetica Neue";
    // font-family: univia-pro, sans-serif;
    // font-family: mr-eaves-xl-sans-narrow, sans-serif;
    // font-family: bc-alphapipe, sans-serif;
    // font-family: century-gothic, sans-serif;
    // font-family: gibbs, sans-serif;
    font-family: regulator-nova, sans-serif;
    // font-weight: 800;
    // font-weight: 700;
    // font-weight: 600;
    // font-weight: 500;
    // font-weight: 400;
    // font-weight: 300;
    // font-weight: 200;
    // font-weight: 100;
    color: #ff0a57;
    font-style: normal;
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    img {
        display: block;
    }
    h1 {
        grid-area: neoLogo;
        justify-self: start;
        align-self: end;
        margin: 0 1% 0 0;
        margin-right: -6%;
        font-family: gpkn;
        font-weight: 900;
        font-size: 60px;
        color: #ff0151;
        text-shadow: $dropShadow;
        z-index: 2;
    }
    h2 {
        display: inline;
        font-size: 7.6vw;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 1.2;
        text-shadow: $dropShadow;
        z-index: 1;
    }
    h3 {
        margin: 0 0 7px;
        padding: 0;
        font-size: 25px;
        line-height: 1.2;
        text-shadow: $dropShadow;
    }
    h4 {
        margin: 5px 0 0;
        font-size: 21px;
        line-height: 1.2;
        text-shadow: $dropShadow;
    }
    p {
        margin: 0;
        padding: 10px 0;
        font-size: 21px;
        font-weight: 300;
        line-height: 1.5;
        &:not(:first-of-type) {
            // padding-top: 20px;
        }
    }
    .neoCopySect {
        margin-top: 20px;
        padding: 15px 20px;
        background: rgba(0, 0, 0, 0.8);
        &:first-child {
            margin-bottom: 0;
        }
    }
    #neoMain {
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
        a {
            color: #FF7E5E; // color: #ff0151;
            // color: #ff623b;
            text-decoration: none;
            border-bottom: 1px solid #FF7E5E; // border-color: #ff623b;
            // border-color: #ff0151;
        }
        // ————————————————————————————————————o————————————————————————————————————o HERO -->
        // HERO -->
        // ————————————————————————————————————o————————————————————————————————————o HERO -->
        #neoHero {
            height: 100vh; // padding-left: 10px;
            position: relative;
            .heroContent {
                position: absolute;
                height: 100%;
                height: 500px;
                margin-top: 42%;
                z-index: 1;
                .neoLogo {
                    display: block;
                    width: 300px;
                    width: 87%;
                    margin-bottom: 15px;
                }
                h2 {
                    position: relative;
                }
            }
            .circ {
                // grid-area: circ;
                // justify-self: end;
                position: absolute;
                top: 4%;
                right: 0;
                border-radius: 50%;
                width: 70%;
                max-width: 536px; // transform: rotate(118deg);
                z-index: 0;
                opacity: 0.9;
            }
            .rect {
                visibility: hidden;
                display: none;
            }
        }
        // ————————————————————————————————————o————————————————————————————————————o PRISMS -->
        // PRISMS -->
        // ————————————————————————————————————o————————————————————————————————————o PRISMS -->
        .revealer {
            color: #FF7E5E;
            cursor: pointer;
        }
        .hidden {
            display: none;
        }
        // ————————————————————————————————————o————————————————————————————————————o INRO -->
        // INRO -->
        // ————————————————————————————————————o————————————————————————————————————o INRO -->
        .introCirc {
            display: none;
            position: absolute;
            width: 74%;
            margin-left: 120px;
            transform: rotate(118deg);
            border-radius: 50%;
            z-index: 1;
        }
        #neoIntro {
            display: block;
            overflow: hidden;
            position: relative;
            height: auto; // height: calc(100vh + 170px);
            // min-height: 100vh;
            margin: 0;
            margin-bottom: 100px; // margin: 200px 0;
            .neoCopySect {
                // position: absolute;
                // margin-top: 170px;
                z-index: 2;
            }
        } // ————————————————————————————————————o————————————————————————————————————o VIDEOS -->
        // VIDEOS -->
        // ————————————————————————————————————o————————————————————————————————————o VIDEOS -->
        #neoVideos {
            grid-area: neoVideos;
            margin-bottom: 100px;
        }
        .neoVid {
            grid-area: neoVid;
        }
        .videoWrapper {
            // grid-area: neoVid;
            position: relative;
            padding-bottom: 56.25%;
            /* 16:9 Aspect Ratio */
            // padding-bottom: 75%;    /* 4:3 */
            height: 0; // max-height: 100vh;
        }
        .videoWrapper iframe {
            position: absolute; // position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; // max-height: 100vh;
        }
        .videoOne {
            grid-area: videoOne; // margin-top: 50px;
            margin-bottom: 50px;
        }
        .videoTwo {
            grid-area: videoTwo;
            .videoWrapper {
                padding-bottom: 75%;
                /* 4:3 */
                iframe {
                    float: left; // max-height: calc(100vh - 40px);
                }
            }
        } // ————————————————————————————————————o————————————————————————————————————o BIOS -->
        // BIOS -->
        // ————————————————————————————————————o————————————————————————————————————o BIOS -->
        #neoBios {
            grid-area: neoBios;
            max-width: 1700px; // margin-top: 60px;
            overflow: hidden;
            .neoBio {
                display: inline-block;
            }
            img {
                float: left;
                padding: 0 15px 20px 0;
                width: 33.3333%; // width: 29%;
                max-width: 260px;
            }
            p {
                display: block;
            }
            .neoBio {
                display: inline-block;
                padding-top: 20px;
            }
            .nameDesc {
                display: block;
            }
            .bioRay {
                // grid-area: bioRay;
                margin-bottom: 10px;
            }
            .bioAndrey {
                // grid-area: bioAndrey;
            }
        } // ————————————————————————————————————o————————————————————————————————————o CONTACT -->
        // CONTACT -->
        // ————————————————————————————————————o————————————————————————————————————o CONTACT -->
        #neoContact {
            display: block;
            grid-area: neoContact;
            max-width: 1420px;
            margin: 100px 0 40px;
            padding-bottom: 30px;
            p:first-child {
                margin: 0 0 10px;
            }
        }
    }
}

// ————————————————————————————————————o————————————————————————————————————o 600px -->
// ————————————————————————————————————o————————————————————————————————————o 600px -->
// 600px -->
// ————————————————————————————————————o————————————————————————————————————o 600px -->
// ————————————————————————————————————o————————————————————————————————————o 600px -->
@media (min-width: 600px) {
    #neoHome #neoMain {
        h4 {
            // margin-bottom: 20px;
            line-height: 1.1;
        }
        #neoHero {
            .heroContent {
                margin-top: 27%;
                .neoLogo {
                    width: 78%;
                    padding-bottom: 10px;
                }
                h2 {
                    padding-right: 20px;
                    font-size: 5.5vw;
                }
            }
            .rect {
                display: block;
                display: none;
                grid-area: rect;
                justify-self: end;
                align-self: start;
                width: 54%;
                margin: 2.8vw 0 0 0;
                visibility: visible;
            }
        } // .circ {
        //     grid-area: circ;
        //     justify-self: start;
        //     width: 88%;
        //     margin-left: -7%;
        // }
        #neoBios {
            img {
                margin: 0 10px 10px 0;
                padding-bottom: 0;
                width: 33.3333%;
            }
        }
    }
}

// ————————————————————————————————————o————————————————————————————————————o 1050px -->
// ————————————————————————————————————o————————————————————————————————————o 1050px -->
// 1050px -->
// ————————————————————————————————————o————————————————————————————————————o 1050px -->
// ————————————————————————————————————o————————————————————————————————————o 1050px -->
@media (min-width: 1050px) {
    #neoHome #neoMain {
        #neoHero {
            .heroContent {
                margin-top: 18%;
                .neoLogo {
                    width: 78%;
                    max-width: 700px;
                    padding-bottom: 10px;
                }
                h2 {
                    padding-right: 20px;
                    font-size: 5.5vw;
                    font-size: 70px;
                }
            }
            .circ {
                // width: 70%;
            }
            .rect {
                display: block;
                display: none;
                width: 54%;
                width: 340px;
                margin: 0;
                margin-left: 260px;
                padding: 582px 0 0;
                visibility: visible;
                opacity: 0.9;
            }
        }
        .videoWrapper iframe {
            max-height: 100vh;
        }
        .neoCopySect {
            .revealer {
                display: none;
            }
            .hidden {
                display: block;
            }
        }
    }
}

// ————————————————————————————————————o————————————————————————————————————o BIG -->
// ————————————————————————————————————o————————————————————————————————————o BIG -->
// BIG -->
// ————————————————————————————————————o————————————————————————————————————o BIG -->
// ————————————————————————————————————o————————————————————————————————————o BIG -->
@media (min-width: 1281px) {
    #neoMain {
        #neoGrid {
            h1 {
                font-size: 145px;
            }
            h2 {
                padding-right: 50px;
                font-size: 56px;
            }
        }
    }
}

@media (min-width: 1880px) {
    #neoMain {
        h1 {
            font-size: 198px;
        }
    }
}

// ————————————————————————————————————o————————————————————————————————————o VERT -->
// ————————————————————————————————————o————————————————————————————————————o VERT -->
// VERT -->
// ————————————————————————————————————o————————————————————————————————————o VERT -->
// ————————————————————————————————————o————————————————————————————————————o VERT -->
@media (max-height: 1024px) {
    #neoMain {
        .videoWrapper iframe {
            max-height: none;
        }
    }
}